<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CFA102G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>SecProductInformServlet</servlet-name>
    <servlet-class>com.sec_product_inform.controller.SecProductInformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecProductInformServlet</servlet-name>
    <url-pattern>/secProductInfo/ProductInfo.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SecProductImagesServlet</servlet-name>
    <servlet-class>com.sec_product_images.controller.SecProductImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecProductImagesServlet</servlet-name>
    <url-pattern>/secProductImg/ProductImg.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SecProductClassServlet</servlet-name>
    <servlet-class>com.sec_product_class.controller.SecProductClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecProductClassServlet</servlet-name>
    <url-pattern>/secProductClass/ProductClass.do</url-pattern>
  </servlet-mapping>
</web-app>